<h1>Rails Chess</h1>
<table>
  <tr>
    <td>
      <div id='status'>
        <%= render(:partial=>"status")  %>
      </div>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <table id='chessboard'>
        <%= render(:partial=>"chessboard", :locals => {:game_id => @game.id})  %>
      </table>
    </td>
    <td class='moves'>
      <div id='moves'>
        <%= render(:partial=>"moves") %>
      </div>
    </td>
  </tr>
</table>
